<div class="w3-container w3-teal">
  <h3>Loan List</h3>
</div>
<br>
<div class="search">
  <label for="search">Search</label>
  <input [(ngModel)]="searchText" autocomplete="off" class="form-control" name="search" placeholder="&#61442; Search"
         type="text">
</div>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Username</th>
    <th>Loan Type</th>
    <th>Loan Status</th>
    <th>Loan Amount</th>
    <th>Current Department</th>
    <th> Bank Name</th>
    <th> Details</th>
    <th> Approve</th>
    <th> Reject</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let loan of loans">
    <td>{{loan.username}} </td>
    <td>{{loan.loanTypeName}} </td>
    <td>{{loan.loanStatusName}}</td>
    <td>{{loan.amount}}</td>
    <td>{{loan.departmentName}}</td>
    <td>{{loan.bankName}}</td>
    <td>
      <a href="employee/viewCustomer?username={{loan.username}}">
        <button class="button3">Details</button>
      </a>
    </td>
    <td>
      <button (click)="approve(loan.id)" class="button">
        Approve
      </button>
    </td>
    <td>
      <button (click)="reject(loan.id)" class="button2">
        Reject
      </button>
    </td>
  </tr>
  </tbody>
</table>
