<div class="w3-container w3-teal">
  <h3>Apply New Loan</h3>
</div>
<br>
<form (ngSubmit)="onSubmit()" [formGroup]="addForm">


  <div class="form-group">
    <label for="amount">Loan Amount</label>
    <input [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" class="form-control"
           formControlName="amount"
           type="text"/>
    <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
      <div *ngIf="f.amount.errors.required">Amount is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="bankId">Select Bank</label>
    <br>
    <select (change)="changeBank($event)" formControlName="bankId">
      <option disabled value="">Choose your bank</option>
      <option *ngFor="let bank of banks" [value]="bank.id">{{bank.bankName}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="loantypeId">Select Loan Type</label>
    <br>
    <select (change)="changeType($event)" formControlName="loantypeId">
      <option disabled value="">Choose Loan Type</option>
      <option *ngFor="let loantype of loanTypes" [value]="loantype.id">{{loantype.loanType}}
      </option>
    </select>
  </div>
  <br>
  <br>
  <div class="form-group">
    <button [disabled]="loading" class="button3">Submit</button>
    <img *ngIf="loading"
         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    <a [routerLink]="['/']" class="btn btn-link">Cancel</a>
  </div>
</form>
<a>
  <button (click)="backClicked()" class="button"> < Back</button>
</a>
