<h3>Employee List</h3>
<a>
  <button (click)="backClicked()"> < Back</button>
</a>
<div></div>
<a href="/admin/addEmployees">
  <button>Add New Employee ></button>
</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Department</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td>{{employee.firstname}} </td>
    <td>{{employee.lastname}} </td>
    <td>{{employee.email}}</td>
    <td>{{employee.address}}</td>
    <td>{{employee.deptName}}</td>
    <td>
    <td>
      <a href="admin/viewEmployees/edit?id={{employee.id}}">
        <button>Edit / Update</button>
      </a>
    </td>
    <td>
      <button (click)="deleteEmp(employee.id)"
              class="btn btn-primary btn-block btn-lg">
        Delete
      </button>
    </td>

  </tr>
  </tbody>
</table>
