<div class="w3-container w3-teal">
  <h3>Employee List</h3>
</div>
<div></div>
<a href="/admin/addEmployees">
  <button class="button3">Add New Employee ></button>
</a>
<br><br>
<div class="form-group">
  <label for="deptName">Search By Department</label>
  <br>
  <select [(ngModel)]="departmentName" class="form-control">
    <option value="">Choose Department</option>
    <option *ngFor="let department of departments" [value]="department.deptName">{{department.deptName}}
    </option>
  </select>
</div>

<div class="search">
  <label for="search">Search</label>
  <input [(ngModel)]="searchText" autocomplete="off" class="form-control" name="search" placeholder="&#61442; Search"
         type="text">
</div>
<br>

<table class="table table-striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Department</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees | empFilter: departmentName | filter:searchText">
    <td>{{employee.firstname}} </td>
    <td>{{employee.lastname}} </td>
    <td>{{employee.email}}</td>
    <td>{{employee.address}}</td>
    <td>{{employee.deptName}}</td>
    <td>
      <a href="admin/viewEmployees/edit?id={{employee.id}}">
        <button class="button">Edit / Update</button>
      </a>
    </td>
    <td>
      <button (click)="deleteEmp(employee.id)"
              class="button2">
        Delete
      </button>
    </td>

  </tr>
  </tbody>
</table>

<a>
  <button (click)="backClicked()" class="button"> < Back</button>
</a>
