<div class="w3-container w3-teal">
  <h3>Department List</h3>
</div>
<div></div>
<a href="/admin/addDepartment">
  <button class="button3">Add New Department ></button>
</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Department ID</th>
    <th>Department Name</th>
    <th>Edit / Update</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let department of departments">
    <td>{{department.id}} </td>
    <td>{{department.deptName}} </td>
    <td>
      <a href="admin/viewDepartments/edit?id={{department.id}}">
        <button class="button">Edit / Update</button>
      </a>
    </td>


  </tr>
  </tbody>
</table>

<a>
  <button (click)="backClicked()" class="button"> < Back</button>
</a>
