<div *ngIf="(isAdmin$ | async) && (isLoggedIn$ | async)" class="navigation">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img alt="" src="https://www.underconsideration.com/brandnew/archives/lendingtree_2018_logo_icon_detail.jpg"
           style=" width:50px; height:50px; margin-right: 20px; opacity: 0.7;"/>Lending Tree</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/loans">Loans</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="admin/viewEmployees">Employees</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="admin/viewCustomers">Customers</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li>
          <a [routerLink]="['/login']" class="nav-link">Logout</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <img alt="" src="http://www.myiconfinder.com/uploads/iconsets/98e2a448aca3310dfd045e443106efba-weather.png"
             style=" width:50px; height:50px; margin-right: 20px; opacity: 0.7;"/>
        <li class="nav-item">
          <div id="weather">[PITTSBURGH] Weather: {{weather.weather[0].main}} /
            Temperature: {{(weather.main.temp - 273.15) * 9 / 5 + 32 | number:'1.0-0'}} F
          </div>
        </li>
      </ul>


    </div>
  </nav>
  <!--  <p>{{weather.weather[0].main}}</p>-->
</div>

<div *ngIf="(isCustomer$ | async) && (isLoggedIn$ | async)">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img alt="" src="https://www.underconsideration.com/brandnew/archives/lendingtree_2018_logo_icon_detail.jpg"
           style=" width:50px; height:50px; margin-right: 20px; opacity: 0.7;"/>Lending Tree</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/customer/loan">Loans</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/customer/addLoan">Apply</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li>
          <a [routerLink]="['/login']" class="nav-link">Logout</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <img alt="" src="http://www.myiconfinder.com/uploads/iconsets/98e2a448aca3310dfd045e443106efba-weather.png"
             style=" width:50px; height:50px; margin-right: 20px; opacity: 0.7;"/>
        <li class="nav-item">
          <div id="weather">[PITTSBURGH] Weather: {{weather.weather[0].main}} /
            Temperature: {{(weather.main.temp - 273.15) * 9 / 5 + 32 | number:'1.0-0'}} F
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div *ngIf="(isEmployee$ | async) && (isLoggedIn$ | async)">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img alt="" src="https://www.underconsideration.com/brandnew/archives/lendingtree_2018_logo_icon_detail.jpg"
           style=" width:50px; height:50px; margin-right: 20px; opacity: 0.7;"/>Lending Tree</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employee/loan">View Loans</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li>
          <a [routerLink]="['/login']" class="nav-link">Logout</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <img alt="" src="http://www.myiconfinder.com/uploads/iconsets/98e2a448aca3310dfd045e443106efba-weather.png"
             style=" width:50px; height:50px; margin-right: 20px; opacity: 0.7;"/>
        <li class="nav-item">
          <div id="weather">[PITTSBURGH] Weather: {{weather.weather[0].main}} /
            Temperature: {{(weather.main.temp - 273.15) * 9 / 5 + 32 | number:'1.0-0'}} F
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>


<div *ngIf="(isLoggedIn$ | async) == false">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img
      alt="" src="https://www.underconsideration.com/brandnew/archives/lendingtree_2018_logo_icon_detail.jpg"
      style=" width:50px; height:50px; margin-right: 20px; opacity: 0.7;"/>Lending Tree
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>


