.navigation {
  position: fixed;
  width: 100%;
}

.navbar {
  padding: 20px;
  font-size: 20px;
}

div {
  line-height: 0px;
  vertical-align: top;
}

.navbar-brand {
  font-size: 24px;
}

#weather {
  color: white;
  font-size: 15px;

}
