<h1>Hi {{currentUser.username}}!</h1>
<div *ngIf="currentUser.role[0] == 'ROLE_ADMIN'">
  <!-- <p>You're logged in as {{currentUser.role[0]}}!</p> -->
  <!-- <h3>All registered users:</h3> -->
  <!-- <ul>
      <li *ngFor="let user of users">
          {{user.id}}  -- {{user.user.username}} |  salary: {{user.salary}}
          - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
      </li>
  </ul> -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="/admin/loans">
          <div class="dbox dbox--color-1">
            <div class="dbox__icon">
              <i class="glyphicon glyphicon-cloud"></i>
            </div>

            <div class="dbox__body">
              <span class="dbox__count">Loans</span>
            </div>

            <div class="dbox__action">
              <button class="dbox__action__btn">More Info</button>
            </div>
          </div>
        </a>

      </div>
      <div class="col-md-4">
        <a href="/admin/viewEmployees">
          <div class="dbox dbox--color-2">
            <div class="dbox__icon">
              <i class="glyphicon glyphicon-download"></i>
            </div>
            <div class="dbox__body">
              <span class="dbox__count">Employee</span>
            </div>

            <div class="dbox__action">
              <button class="dbox__action__btn">More Info</button>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="/admin/viewCustomers">
          <div class="dbox dbox--color-3">
            <div class="dbox__icon">
              <i class="glyphicon glyphicon-heart"></i>
            </div>
            <div class="dbox__body">
              <span class="dbox__count">Customer</span>
            </div>

            <div class="dbox__action">
              <button class="dbox__action__btn">More Info</button>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>


</div>

<div *ngIf="currentUser.role[0] == 'ROLE_CUSTOMER'">

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="/customer/loan">
          <div class="dbox dbox--color-1">
            <div class="dbox__icon">
              <i class="glyphicon glyphicon-cloud"></i>
            </div>

            <div class="dbox__body">
              <span class="dbox__count">Loans</span>
            </div>

            <div class="dbox__action">
              <button class="dbox__action__btn">More Info</button>
            </div>
          </div>
        </a>

      </div>
      <div class="col-md-4">
        <a href="/customer/addLoan">
          <div class="dbox dbox--color-2">
            <div class="dbox__icon">
              <i class="glyphicon glyphicon-download"></i>
            </div>
            <div class="dbox__body">
              <span class="dbox__count">Apply</span>
            </div>

            <div class="dbox__action">
              <button class="dbox__action__btn">More Info</button>
            </div>
          </div>
        </a>

      </div>
    </div>

  </div>
</div>

<div *ngIf="currentUser.role[0] == 'ROLE_EMPLOYEE'">

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="/employee/loan">
          <div class="dbox dbox--color-1">
            <div class="dbox__icon">
              <i class="glyphicon glyphicon-cloud"></i>
            </div>

            <div class="dbox__body">
              <span class="dbox__count">Loans</span>
            </div>

            <div class="dbox__action">
              <button class="dbox__action__btn">More Info</button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
