<div class="w3-container w3-teal">
  <h3>All Loans</h3>
</div>
<br>
<div class="form-group">
  <label for="deptName">Search By Department</label>
  <br>
  <select [(ngModel)]="departmentName" class="form-control">
    <option value="">Choose Department</option>
    <option *ngFor="let department of departments" [value]="department.deptName">{{department.deptName}}
    </option>
  </select>
</div>

<div class="search">
  <label for="deptName">Search</label>
  <input [(ngModel)]="searchText" autocomplete="off" class="form-control" name="search" placeholder="&#61442; Search"
         type="text">
</div>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Username</th>
    <th>Loan Type</th>
    <th>Loan Status</th>
    <th>Loan Amount</th>
    <th>Current Department</th>
    <th> Bank Name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let loan of loans | allLoansByDepartment: departmentName | filter:searchText">
    <td>{{loan.username}} </td>
    <td>{{loan.loanTypeName}} </td>
    <td>{{loan.loanStatusName}}</td>
    <td>{{loan.amount}}</td>
    <td>{{loan.departmentName}}</td>
    <td>{{loan.bankName}}</td>
    <td>
      <button (click)="assign(loan.id)"
              *ngIf="loan.departmentName == 'ADMIN' && loan.loanStatusName != 'APPROVED' && loan.loanStatusName != 'REJECTED'"
              class="button2">
        Assign To Pickup
      </button>
    </td>
  </tr>
  </tbody>
</table>
<a>
  <button (click)="backClicked()" class="button"> < Back</button>
</a>
