<div *ngIf="(isAdmin$ | async) && (isLoggedIn$ | async)">

  <nav class="col-sm-3 ">
    <div class="col-sm-12" id="fixed-sidebar">
      <!-- <a href="index.html"><img id="home-logo" src="../media/logo-prueba.jpg" alt="Logo de Animanoir"></a>  -->

      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action " href="#">Dashboard</a>
        <a class="list-group-item list-group-item-action " href="admin/activeLoans">Active Loans</a>
        <a class="list-group-item list-group-item-action " href="admin/pendingLoans">Pending Loans</a>
        <a class="list-group-item list-group-item-action " href="admin/rejectedLoans">Rejected Loans</a>
        <a class="list-group-item list-group-item-action " href="admin/viewCustomers">Manage Customers</a>
        <a class="list-group-item list-group-item-action " href="admin/viewEmployees">Manage Employees</a>
        <a class="list-group-item list-group-item-action " href="#">Profile</a>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="( isCustomer$ | async) && (isLoggedIn$ | async)">
  <nav class="col-sm-3 ">
    <div class="col-sm-12" id="fixed-sidebar">
      <!-- <a href="index.html"><img id="home-logo" src="../media/logo-prueba.jpg" alt="Logo de Animanoir"></a>  -->

      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action " href="#">Dashboard</a>
        <a class="list-group-item list-group-item-action " href="#">Active Loans</a>
        <a class="list-group-item list-group-item-action " href="#">Pending Loans</a>
        <a class="list-group-item list-group-item-action " href="#">Rejected Loans</a>
        <a class="list-group-item list-group-item-action " href="#">Apply New Loans</a>

        <a class="list-group-item list-group-item-action " href="#">Profile</a>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="( isEmployee$ | async) && (isLoggedIn$ | async)">
  <nav class="col-sm-3 ">
    <div class="col-sm-12" id="fixed-sidebar">
      <!-- <a href="index.html"><img id="home-logo" src="../media/logo-prueba.jpg" alt="Logo de Animanoir"></a>  -->

      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action " href="#">Dashboard</a>
        <a class="list-group-item list-group-item-action " href="#">Pending Loans</a>
        <a class="list-group-item list-group-item-action " href="#">Profile</a>
      </div>
    </div>
  </nav>
</div>
